<script setup>
import RegistrationSuccess from '../../../components/RegistrationSuccess/RegistrationSuccess.vue';
</script>
<template>
    <main>
        <RegistrationSuccess/>
    </main>
</template>