<script  setup>
import { inject, ref, computed, reactive, watchEffect } from "vue";
import { Icon } from "@iconify/vue";
import useVuelidate from "@vuelidate/core";
import { required, helpers } from "@vuelidate/validators";
import { useToast } from "vue-toastification";
const toast = useToast();
const fetch = inject("fetch");
const formData = reactive({
    name: "",
    error: "",
    successMessage: "",
    editName: "",
    priorityId: "",
    loading: false
});
const rules = computed(() => {
    return {
        name: { required: helpers.withMessage("Name is required", required) },
    }
});
const rulesTwo = computed(() => {
    return {
        editName: { required: helpers.withMessage("Name is required", required) },
    }
});

const v$ = useVuelidate(rules, formData);
const v$$ = useVuelidate(rulesTwo, formData);
const handleSubmit = async () => {
    const response = await v$.value.$validate();
    try {
        if (response) {
            formData.loading = true;
            const response = await fetch.post("/sections/create", {
                name: formData.name,
            });

            if (response.data) {
                toast.success("Section created successfully", {
                    timeout: 2000
                });
                formData.name = "";
                handleCloseModal();
                handleFetchSections()
            }

            formData.loading = false;
        }
    } catch (err) {
        formData.loading = false;
        if (err instanceof Error) {
            formData.error = err.message;
            toast.error(formData.error, {
                timeout: 2000
            })
        }
    }
};
const modalIsOpen = ref(false);
const editModalIsOpen = ref(false);
const searchValue = ref("");
const handleOpenModal = () => {
    modalIsOpen.value = true;
};
const handleCloseModal = () => {
    modalIsOpen.value = false;
}
const Sections = ref([]);
const isLoading = ref(false);
const headers = [
    { text: "Name", value: "name" },
    { text: "Operations", value: 'operations' }
];
const handleFetchSections = async () => {
    try {
        isLoading.value = true;
        const response = await fetch.get("/sections/all");
        Sections.value = response.data.data;
        isLoading.value = false;
    } catch (err) {
        isLoading.value = false;
        if (err instanceof Error) {
            toast.error(err.message, {
                timeout: 2000
            })
        }
    }
};
handleFetchSections();
const handleDeleteField = async (id) => {
    try {
        confirm("Are you sure you want to delete this section?")
        const response = await fetch.delete(`/sections/delete/${id}`);
        if(response.data) {
            toast.success("Section deleted successfully", {
                timeout: 2000
            })
        }
        const item = Sections.value.find((unit) => unit.id === id)
        Sections.value = Sections.value.filter((res) => res.id !== item.id);
    } catch (err) {
        toast.error(err.message, {
            timeout: 2000
        });
    }
};
const handleEditSubmit = async () => {
    const response = await v$$.value.$validate();
    try {
        if (response) {
            formData.loading = true;
            const response = await fetch.put(`/sections/update/${editId.value}}`, {
                name: formData.editName,
                priority: formData.priorityId
            });

            if (response.data) {
                toast.success('Section updated successfully', {
                    timeout: 2000
                });
                formData.editName = "";
                handleFetchSections();
                closeEditModal()
            };
            formData.loading = false;
        }
    } catch (err) {
        formData.loading = false;
        if (err instanceof Error) {
            formData.error = err.message;
            toast.error(formData.error, {
                timeout: 2000
            })
        }
    }
};
const editId = ref('');
const editData = ref([])
const openEditModal = async (id) => {
    editModalIsOpen.value = true;
    const response = await fetch.get(`/sections/show/${id}`);
    editData.value.push(response.data.data);
    editId.value = id;
};
const closeEditModal = () => {
    editModalIsOpen.value = false;
};

watchEffect(() => {
    editData.value.forEach((data) => {
        formData.editName = data.name;
        formData.priorityId = data.priority;
    });
});
</script>


<template>
    <Dialog v-model:visible="editModalIsOpen" modal header="Edit Section" :style="{ width: '50vw' }"
        :breakpoints="{ '960px': '75vw', '641px': '100vw' }">
        <form @submit.prevent="handleEditSubmit()" class="card p-fluid">
            <div>
                <div class="field">
                    <label for="name">Name</label>
                    <InputText id="name" type="text" placeholder="Enter name of the section" v-model="formData.editName" />
                </div>
                <p class="text-red-500 my-2" v-if="v$$.editName.$error">{{ v$$.editName.$errors[0].$message }}</p>
            </div>

            <div class="py-2">
                <div class="flex justify-content-center">
                    <Button type="submit" class="button" label="Update section" :loading="formData.loading" />
                </div>
            </div>
        </form>
    </Dialog>
    <Dialog v-model:visible="modalIsOpen" modal header="Add Section" :style="{ width: '50vw' }"
        :breakpoints="{ '960px': '75vw', '641px': '100vw' }">
        <form @submit.prevent="handleSubmit()" class="card p-fluid">
            <div :class="[v$.name.$error ? 'pb-0' : 'pb-3']">
                <div class="field">
                    <label for="name">Name</label>
                    <InputText id="name" type="text" placeholder="Enter name of the section" v-model="formData.name" />
                </div>
                <p class="text-red-500 my-1" v-if="v$.name.$error">{{ v$.name.$errors[0].$message }}</p>
            </div>

            <div class="pb-2">
                <div class="flex justify-content-center">
                    <Button type="submit" class="button" label="Add section" :loading="formData.loading" />
                </div>
            </div>
        </form>
    </Dialog>
    <div class="grid">
        <div class="col-12">
            <div class="card">
                <div class="flex justify-content-between align-items-center mb-4">
                    <h5>All Sections</h5>
                    <Button class="hidden md:block" @click="handleOpenModal" label="Add section" icon="pi pi-plus" />
                    <Button class="block md:hidden" @click="handleOpenModal" icon="pi pi-plus" />
                </div>

                <div class="py-2">
                    <div class="field flex justify-content-end">
                        <InputText placeholder="Search" v-model="searchValue" />
                    </div>
                </div>
                <EasyDataTable header-text-direction="center" body-text-direction="center" :rows-per-page="10"
                    buttons-pagination :search-value="searchValue" table-class-name="customize-table" alternating show-index
                    :loading="isLoading" :headers="headers" :items="Sections">
                    <template #item-operations="{ id }">
                        <div class="flex justify-content-center align-items-center">
                            <Icon @click="handleDeleteField(id)" icon="mdi:trash"
                                class="text-red-500 hover:text-red-600 transition-effect cursor-pointer text-xl" />
                            <div class="px-2">
                                <i @click="openEditModal(id)" class="pi pi-pencil cursor-pointer" />
                            </div>
                            <router-link :to="{ name: 'dashboard-sections-fields', params: { fieldId: id } }">
                                <Icon icon="ph:eye" class="text-xl" />
                            </router-link>
                        </div>
                    </template>

                    <template #loading>
                        <img src="https://i.pinimg.com/originals/94/fd/2b/94fd2bf50097ade743220761f41693d5.gif"
                            style="width: 100px; height: 80px" />
                    </template>
                </EasyDataTable>
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">
@import '@/assets/demo/styles/badges.scss';

::v-deep(.p-datatable-frozen-tbody) {
    font-weight: bold;
}

::v-deep(.p-datatable-scrollable .p-frozen-column) {
    font-weight: bold;
}
</style>
