<script setup>
import useVuelidate from "@vuelidate/core";
import { required, helpers, sameAs } from "@vuelidate/validators";
import axios from "axios";
import { computed, reactive } from "vue";
import AppAuthTopBar from "../../layout/AppAuthTopBar.vue";
import { useRoute } from "vue-router";
import { useToast } from "vue-toastification";
const toast = useToast();
const route = useRoute()
const formData = reactive({
    email: "",
    password: "",
    passwordConfirmation: '',
    loading: false
});

const rules = computed(() => {
    return {
        password: { required: helpers.withMessage("Password is required", required) },
        passwordConfirmation: { required: helpers.withMessage("Please confirm your password", required), sameAs: sameAs(formData.password) }
    }
});

const v$ = useVuelidate(rules, formData);
const recoveryEmail = JSON.parse(localStorage.getItem("recoveryEmail"))
const handleSubmit = async () => {
    const response = await v$.value.$validate();
    if (response) {
        if (response) {
            try {
                formData.loading = true;
                const response = await axios.post(`${import.meta.env.VITE_API_KEY}/auth/password/reset`, {
                    email: recoveryEmail,
                    token: route.params.token,
                    password: formData.password,
                    password_confirmation: formData.passwordConfirmation
                });
                if (response.data) {
                    toast.success(response.data.data, {
                        timeout: 2000
                    })
                    localStorage.removeItem('recoveryEmail')
                    setTimeout(() => {
                        window.location.href = '/'
                    }, 3000)
                }
                formData.loading = false;
            } catch (err) {
                formData.loading = false;
                if (err instanceof Error) {
                    toast.error(err.messaage, {
                        timeout: 2000
                    })
                }
            }
        }
    }
};
</script>
<template>
    <AppAuthTopBar />
    <main>
        <div class="flex justify-content-center align-items-center w-full min-h-screen">
            <div class="w-30rem p-fluid">
                <form @submit.prevent="handleSubmit()" class="w-full shadow-md rounded-md py-6 px-6 border border-gray-200">
                    <div class="grid-layout space-y-2">
                        <div class="flex justify-content-center align-items-center">
                            <h1 class="font-bold text-xl md:text-3xl">Reset your password
                            </h1>
                        </div>
                        <p class="text-center text-sm py-2 md:text-base">Choose a very strong password to secure your
                            account.</p>
                    </div>

                    <div :class="[v$.password.$error ? 'pb-0' : 'pb-3']">
                        <div class="field">
                            <label for="password" class="font-bold">Password</label>
                            <Password toggleMask  placeholder="Enter your new password"
                                v-model="formData.password" />
                        </div>
                        <p class="text-red-500 my-1" v-if="v$.password.$error">{{ v$.password.$errors[0].$message }}</p>
                    </div>

                    <div :class="[v$.passwordConfirmation.$error ? 'pb-0' : 'pb-3']">
                        <div class="field">
                            <label for="passwordConfirmation" class="font-bold">Confirm your password</label>
                            <Password toggleMask placeholder="Confirm your password"
                                v-model="formData.passwordConfirmation" />
                        </div>
                        <p class="text-red-500 my-1" v-if="v$.passwordConfirmation.$error">{{ v$.passwordConfirmation.$errors[0].$message }}</p>
                    </div>
                    
                    <div>
                        <div class="flex justify-content-center">
                            <Button type="submit" class="button" label="Reset password" :loading="formData.loading" />
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </main>
</template>
