<script setup lang="ts">
import DashboardUserManagement from '../../components/DashboardUserManagement/DashboardUserManagement.vue';
</script>
<template>
    <main>
        <div class="py-3">
            <h1 class="font-bold hidden md:block">User Management</h1>
            <h3 class="font-bold block md:hidden">User Management</h3>
        </div>
        <DashboardUserManagement/>
    </main>
</template>