<template>
    <div v-if="chartLoading">
        <div class="card flex justify-content-center align-items-center">
            <Icon icon="svg-spinners:bars-rotate-fade" class="text-4xl text-purple-500" />
        </div>
    </div>

    <div v-else>
        <div class="card my-4">
            <h1 class="text-xl text-900">Total Amount</h1>
            <apexcharts height="350" type="area" :options="chartOptions" :series="series"></apexcharts>
        </div>

        <div class="card">
            <h1 class="text-xl text-900">Total Loans</h1>
            <apexcharts height="350" type="area" :options="chartOptionsLoan" :series="seriesLoan"></apexcharts>
        </div>
    </div>
</template>
  
<script>
import VueApexCharts from 'vue3-apexcharts'
import axios from "axios";
import { Icon } from '@iconify/vue';
const accessToken = JSON.parse(localStorage.getItem("accessToken")) ? JSON.parse(localStorage.getItem("accessToken")) : '';
const config = {
    headers: {
        'Content-Type': 'application/json',
        'Access-Control-Origin': '*',
        'Authorization': `Bearer ${accessToken}`
    },
    timeout: 60 * 1000
}
export default {
    name: 'Chart',
    props: ['branchId'],
    components: {
        apexcharts: VueApexCharts,
        Icon
    },
    data() {
        return {
            chartLoading: false,
            chartOptions: {
                chart: {
                    id: 'basic-bar'
                },
                xaxis: {
                    categories: []
                }
            },
            series: [],

            chartOptionsLoan: {
                chart: {
                    id: 'basic-bar'
                },
                xaxis: {
                    categories: []
                }
            },
            seriesLoan: [],
        }
    },
    watch: {
        branchId(newBranchId, oldBranchId) {
            this.handleFetchStatsMonthly();
        },
    },
    methods: {
        async handleFetchStatsMonthly() {
            let branchId = null;
            const role = JSON.parse(localStorage.getItem('role'));

            if (role === 'admin') {
                branchId = this.branchId;
            } else {
                branchId = JSON.parse(localStorage.getItem('branchId'));
            }

            if (!branchId) {
                console.error('No branchId provided');
                return;
            };
            this.series = [];
            this.chartOptions.xaxis.categories = [];
            this.seriesLoan = [];
            this.chartOptionsLoan.xaxis.categories = [];
            this.chartLoading = true;
            const response = await axios.get(`https://loan-backend.jibiwa.com/api/reports/monthly-chart/${branchId}`, config);
            response.data.vsAmount.forEach(month => {
                this.chartOptions.xaxis.categories.push(month.name);
                this.series.push({
                    name: month.name,
                    data: month.data
                });
            });

            response.data.vsTotal.forEach(total => {
                this.chartOptionsLoan.xaxis.categories.push(total.name);
                this.seriesLoan.push({
                    name: total.name,
                    data: total.data
                });
            });

            this.chartLoading = false;

        }
    },
    mounted() {
        this.handleFetchStatsMonthly();
    }
}
</script>
