<script setup>
import { inject, ref, onMounted, computed, watchEffect } from "vue";
import { useMillify } from "../../composables/useMiliify";
import DashboardPieChart from "./DashboardPieChart.vue";
import DashboardChart from "./DashboardChart.vue";
import { Icon } from "@iconify/vue";
const fetch = inject("fetch");
const totals = ref({});
const data = ref([]);
const branches = ref([]);
const branchId = JSON.parse(localStorage.getItem("branchId"));
const userData = JSON.parse(localStorage.getItem("userData"));
const selectedBranch = ref('');
const selectedBranchId = ref(0);
watchEffect(() => {
    selectedBranchId.value = branches.value.length > 0 ? (selectedBranch.value ? selectedBranch.value.id : branches.value[0].id) : 5;
});

const role = JSON.parse(localStorage.getItem("role"));
const dataLoading = ref(false);
const handleFetch = async () => {
    dataLoading.value = true;
    const response = await fetch.get(`/reports/user-analytics`);
    data.value = response.data;
    dataLoading.value = false;
};
handleFetch();
const totalsLoading = ref(false);
const handleFetchTotals = async () => {
    totalsLoading.value = true;
    const response = await fetch.get(`/reports/totals`);
    totals.value = response.data;
    totalsLoading.value = false;
};
handleFetchTotals();
const monthlyAmount = ref([]);
const monthlyTotal = ref([]);
const handleFetchStatsMonthly = async () => {
    const response = await fetch.get(`reports/monthly-chart/${branchId}`);
    monthlyAmount.value = response.data.vsAmount;
    monthlyTotal.value = response.data.vsTotal;
};
handleFetchStatsMonthly();
const accessRole = computed(() => {
    return role === 'admin' | 'credit_admin' | 'credit_analyst' | 'approver'
})
onMounted(() => {
    userData.branches.forEach((branch) => {
        localStorage.setItem("branchId", JSON.stringify(branch.id));
    })
});
const fetchAllBranches = async () => {
    const response = await fetch.get('/branches/all');
    branches.value = response.data.data
};
fetchAllBranches();
</script>
<template>
    <div class="grid w-full">
        <div class="col-12 md:col-6 xl:col-4">
            <div class="card mb-0">
                <div>
                    <div class="flex align-items-center mb-3 justify-content-center bg-green-100 border-round"
                        style="width: 2.5rem; height: 2.5rem">
                        <Icon icon="material-symbols:donut-small" class="text-4xl text-green-500" />
                    </div>
                    <div>
                        <div class="flex align-items-center mb-2">
                            <span class="block text-900 font-medium mb-1 pr-2">Total Amount:</span>
                            <div v-if="totalsLoading" class="text-900 text-xl">
                                <Icon icon="svg-spinners:bars-rotate-fade" class="text-xl text-green-500" />
                            </div>
                            <div v-else class="text-900 font-medium">{{ useMillify(totals.totalAmount) }}</div>
                        </div>
                        <div class="flex align-items-center mt-1">
                            <span class="block text-900 font-medium mb-1 pr-2">Total Loans:</span>
                            <div v-if="totalsLoading" class="text-900 text-xl">
                                <Icon icon="svg-spinners:bars-rotate-fade" class="text-xl text-green-500" />
                            </div>
                            <div v-else class="text-900 font-medium">{{ useMillify(totals.totalLoans) }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 md:col-6 xl:col-4">
            <div class="card mb-0">
                <div class="mb-3">
                    <div class="flex align-items-center justify-content-center mb-3 bg-green-100 border-round"
                        style="width: 2.5rem; height: 2.5rem">
                        <Icon icon="ic:outline-check-circle" class="text-xl text-green-500" />
                    </div>
                    <div>
                        <span class="block text-900 font-medium mb-2">Approved Loans</span>
                        <div v-if="dataLoading" class="text-900 text-xl">
                            <Icon icon="svg-spinners:bars-rotate-fade" class="text-xl text-green-500" />
                        </div>
                        <div v-else class="text-900 font-medium">{{ data.approved }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 xl:col-4">
            <div class="card mb-0">
                <div class="mb-3">
                    <div class="flex align-items-center mb-3 justify-content-center bg-orange-100 border-round"
                        style="width: 2.5rem; height: 2.5rem">
                        <Icon icon="mdi:timer-sand" class="text-xl text-orange-500" />
                    </div>
                    <div>
                        <span class="block text-900 font-medium mb-2">Pending Loans</span>
                        <div v-if="dataLoading" class="text-900 text-xl">
                            <Icon icon="svg-spinners:bars-rotate-fade" class="text-xl text-orange-500" />
                        </div>
                        <div v-else class="text-900 font-medium">{{ data.pending }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 xl:col-4">
            <div class="card mb-0">
                <div class="mb-3">
                    <div class="flex align-items-center justify-content-center mb-3 bg-red-100 border-round"
                        style="width: 2.5rem; height: 2.5rem">
                        <Icon icon="bi:exclamation-octagon-fill" class="text-xl text-red-500" />
                    </div>
                    <div>
                        <span class="block text-900 font-medium mb-2">Rejected Loans</span>
                        <div v-if="dataLoading" class="text-900 text-xl">
                            <Icon icon="svg-spinners:bars-rotate-fade" class="text-xl text-red-500" />
                        </div>
                        <div v-else class="text-900 font-medium">{{ data.rejected }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div v-if="accessRole" class="flex justify-content-end">
        <Dropdown v-model="selectedBranch" :options="branches" optionLabel="name" placeholder="Select a branch"
            class="w-14rem" />
    </div>

    <div class="mt-4">

        <div class="mb-4">
            <DashboardPieChart :branchId="selectedBranchId" />
        </div>
        <div>
            <DashboardChart :branchId="selectedBranchId" />
        </div>
    </div>
</template>