<template>
    <div>
        <div v-if="chartLoading">
            <div class="card flex justify-content-center align-items-center">
                <Icon icon="svg-spinners:bars-rotate-fade" class="text-4xl text-purple-500" />
            </div>
        </div>

        <div v-else class="md:flex justify-content-around align-items-center">
            <div class="card my-4 w-full mx-2">
                <h1 class="text-xl text-900">Total Amount</h1>
                <apexcharts height="380" type="pie" :options="chartOptions" :series="series"></apexcharts>
            </div>

            <div class="card my-4 w-full">
                <h1 class="text-xl text-900">Total Loans</h1>
                <apexcharts height="380" type="pie" :options="chartOptionsLoans" :series="seriesLoans"></apexcharts>
            </div>
        </div>
    </div>
</template>
  
<script>
import VueApexCharts from 'vue3-apexcharts'
import axios from "axios";
import { Icon } from "@iconify/vue";
const accessToken = JSON.parse(localStorage.getItem("accessToken")) ? JSON.parse(localStorage.getItem("accessToken")) : '';
const config = {
    headers: {
        'Content-Type': 'application/json',
        'Access-Control-Origin': '*',
        'Authorization': `Bearer ${accessToken}`
    },
    timeout: 60 * 1000
}
export default {
    name: 'PieChart',
    components: {
        apexcharts: VueApexCharts,
        Icon
    },
    props: ['branchId'],
    data() {
        return {
            chartLoading: false,
            series: [],
            chartOptions: {
                chart: {
                    width: 380,
                    type: 'pie',
                },
                labels: [],
                responsive: [{
                    breakpoint: 480,
                    options: {
                        chart: {
                            width: 200
                        },
                        legend: {
                            position: 'bottom'
                        }
                    }
                }]
            },

            seriesLoans: [],
            chartOptionsLoans: {
                chart: {
                    width: 380,
                    type: 'pie',
                },
                labels: [],
                responsive: [{
                    breakpoint: 480,
                    options: {
                        chart: {
                            width: 200
                        },
                        legend: {
                            position: 'bottom'
                        }
                    }
                }]
            },
        }
    },
    watch: {
        branchId(newBranchId, oldBranchId) {
            this.handleFetchStatsMonthly();
        },
    },

    mounted() {
        console.log(this.chartOptions)
    },
    methods: {
        async handleFetchStatsMonthly() {
            let branchId = null;
            const role = JSON.parse(localStorage.getItem('role'));

            if (role === 'admin') {
                branchId = this.branchId;
            } else {
                branchId = JSON.parse(localStorage.getItem('branchId'));
            }

            if (!branchId) {
                console.error('No branchId provided');
                return;
            }

            // // Clear existing data and chart options
            this.chartOptions.labels = [];
            this.series = [];
            this.chartOptionsLoans.labels = [];
            this.seriesLoans = [];
            this.chartLoading = true;
            const response = await axios.get(`https://loan-backend.jibiwa.com/api/reports/approved-vs-rejected-vs-processing/${branchId}`, config);
            if (response.data) {
                this.chartOptions.labels = response.data.vsAmount.labels;
                response.data.vsAmount.datasets.forEach((set) => {
                    set.data.forEach((d) => {
                        this.series.push(d);
                    });
                });

                this.chartOptionsLoans.labels = response.data.vsTotal.labels;
                response.data.vsTotal.datasets.forEach((set) => {
                    set.data.forEach((d) => {
                        this.seriesLoans.push(d);
                    });
                });
            };

            this.chartLoading = false;
        }
    },

    mounted() {
        this.handleFetchStatsMonthly()
    }
}
</script>