<!-- eslint-disable prettier/prettier -->
<script setup>
import DashboardCards from '../components/DashboardCards/DashboardCards.vue';
</script>

<template>
    <div class="px-0 md:px-6">
        <DashboardCards />
    </div>
</template>
