<script setup>
import useVuelidate from "@vuelidate/core";
import { required, helpers, email } from "@vuelidate/validators";
import axios from "axios";
import { computed, reactive, ref } from "vue";
import { useRouter } from "vue-router";
import { useToast } from "vue-toastification";
import AppAuthTopBar from "../../layout/AppAuthTopBar.vue";
const toast = useToast();
const router = useRouter();
const formData = reactive({
    email: "",
    loading: false
});

const rules = computed(() => {
    return {
        email: { required: helpers.withMessage("Email is required", required), email },
    }
});

const v$ = useVuelidate(rules, formData);
const handleSubmit = async () => {
    const response = await v$.value.$validate();
    if (response) {
        if (response) {
            try {
                formData.loading = true;
                const response = await axios.post(`${import.meta.env.VITE_API_KEY}/auth/password/email`, {
                    email: formData.email,
                });
                localStorage.setItem("recoveryEmail", JSON.stringify(formData.email))
                if (response.data) {
                    setTimeout(() => {
                        formData.email = ""
                    }, 1500)
                    toast.success(response.data.data, {
                        timeout: 2000
                    })
                    setTimeout(() => {
                        router.push("/")
                    }, 3000)
                }
                formData.loading = false;
            } catch (err) {
                formData.loading = false;
                if (err instanceof Error) {
                    toast.error(err.response.data.message, {
                        timeout: 2000
                    })
                }
            }
        }
    }
};
</script>
<template>
    <AppAuthTopBar />
    <main>
        <div class="flex justify-content-center align-items-center w-full min-h-screen">
            <div class="w-30rem p-fluid">
                <form @submit.prevent="handleSubmit()" class="w-full shadow-md rounded-md py-6 px-6 border border-gray-200">
                    <div class="grid-layout space-y-2">
                        <div class="flex justify-content-center align-items-center">
                            <h1 class="font-bold text-xl md:text-3xl">Reset your password
                            </h1>
                        </div>
                        <p class="text-center text-sm py-2 md:text-base">Enter a valid e-mail to receive instructions on how
                            to reset your
                            password.</p>
                    </div>

                    <div :class="[v$.email.$error ? 'pb-0' : 'pb-3']">
                        <div class="field">
                            <label for="email" class="font-bold">Email</label>
                            <InputText id="email" type="email" placeholder="@ Enter email" v-model="formData.email" />
                        </div>
                        <p class="text-red-500 my-2" v-if="v$.email.$error">{{ v$.email.$errors[0].$message }}</p>
                    </div>
                    <div>
                        <div class="flex justify-content-center">
                            <Button type="submit" class="button" label="Send link" :loading="formData.loading" />
                        </div>
                    </div>
                    <div class="pt-2 flex justify-content-center align-items-center">
                        <h1 class="text-base mt-2 cursor-pointer">Have an account?
                            <router-link to="/" class="font-Inter text-sm text-indigo-600 font-bold hover:underline">
                                Login
                            </router-link>
                        </h1>
                    </div>

                </form>
            </div>
        </div>
    </main>
</template>
