<script setup>
import AppAuthTopBar from '../../layout/AppAuthTopBar.vue';
</script>
<template>
    <AppAuthTopBar />

    <body>
        <div class="card pt-20">
            <div style="border-radius:200px; height:200px; width:200px; background: #c3fbc3; margin:0 auto;">
                <i class="checkmark">✓</i>
            </div>
            <h1>Success 🎉</h1>
            <p>Your account has been successfully verified<br /> head to the login page to get started!</p>
            <router-link to="/">
                <p class="hover:text-indigo-500 duration-200 ease-in text-black mt-4 hover:underline">Go to login</p>
            </router-link>
        </div>
    </body>
</template>
<style scoped>
body {
    text-align: center;
    padding: 40px 0;
    background: #EBF0F5;
    font-family: sans-serif;
}

a {
    color: black;
}

h1 {
    color: #008000;
    font-size: 40px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    margin: 0;
}

i {
    color: #008000;
    font-size: 100px;
    line-height: 200px;
    margin-left: -15px;
}

.card {
    background: white;
    padding: 60px;
    border-radius: 4px;
    margin-top: 40px;
    display: inline-block;
}
</style>