<script setup>
import { inject, ref, reactive, computed } from "vue";
import { useRoute, useRouter } from "vue-router";
import { Icon } from "@iconify/vue";
import useVuelidate from "@vuelidate/core";
import { required, helpers } from "@vuelidate/validators";
import { useToast } from "vue-toastification";
const toast = useToast();
const fetch = inject("fetch")
const route = useRoute();
const formData = reactive({
    comment: "",
    approved: "",
    denied: ""
})
const router = useRouter();
const loanData = ref([]);
const isLoading = ref(false);
const submitLoading = ref(false);
const rules = computed(() => {
    return {
        comment: { required: helpers.withMessage("Comment is required", required) },
    }
});

const v$ = useVuelidate(rules, formData);
const handleFetch = async () => {
    try {
        isLoading.value = true;
        const response = await fetch.get(`/loans/branch-manager-analysis/${route.params.id}`);
        loanData.value = response.data.data;
        console.log(loanData.value)
        isLoading.value = false;
    } catch (err) {
        isLoading.value = false;
    }
};
handleFetch();
const handleSubmit = async () => {
    try {
        const response = await v$.value.$validate();
        if (response) {
            submitLoading.value = true;
            const response = await fetch.post(`/loans/branch-manager-assessment`, {
                loan_branch_manager_analysis_id: route.params.id,
                status: formData.approved ? "approved" : "rejected",
                comment: formData.comment,
            });
            if (response.data) {
                toast.success("Comment added successfully", {
                    timeout: 2000
                });
                router.push("/dashboard/branch-manager/loans")
            };
            submitLoading.value = false;
        }
    } catch (err) {
        submitLoading.value = false
        toast.error(err.message, {
            timeout: 2000
        })
    }
};
const handleRoute = () => {
    router.push("/dashboard/branch-manager/loans")
};
const handleRadioChange = (selectedRadio) => {
    if (selectedRadio === 'denied') {
        formData.approved = false;
    } else if (selectedRadio === 'approved') {
        formData.denied = false;
    }
}
</script>
<template>
    <div @click="handleRoute()" class="py-2 flex justify-content-start align-items-center cursor-pointer">
        <i class="pi pi-arrow-left" :class="['text-indigo-600']" />
        <p class="px-2 text-indigo-600 hover:font-bold hover:text-indigo-600">Go back</p>
    </div>
    <div>
        <div v-if="isLoading" class="pt-8">
            <div class="flex justify-content-center align-items-center">
                <i class="pi pi-spin pi-spinner" style="font-size: 3rem; color: indigo"></i>
            </div>
        </div>
        <div v-else class="mt-2">
            <div class="card w-full">
                <div>

                    <div class="px-0 mx-2 md:px-4">
                        <div class="pt-2">
                            <h4 class="font-bold">Loan Details</h4>
                        </div>


                        <div class="flex justify-content-between place-items-center align-items-center">
                            <span class="font-bold">Reference Number</span>
                            <p> {{ loanData.loan?.reference_number }} </p>
                        </div>

                        <div class="flex pt-4 justify-content-between place-items-center align-items-center">
                            <span class="font-bold">Loan Type</span>
                            <p> {{ loanData.loan?.loan_type?.name }} </p>
                        </div>

                        <div class="flex pt-4 justify-content-between place-items-center align-items-center">
                            <span class="font-bold">Loan Status</span>
                            <p class="font-bold"
                                :class="[loanData.loan?.loan_status === 'processing' ? 'text-orange-500' : loanData.loan?.loan_status === 'approved' ? 'text-green-500' : loanData.loan?.loan_status === 'rejected' ? 'text-red-500' : '']">
                                {{ loanData.loan?.loan_status }}</p>
                        </div>

                        <div class="flex pt-4 justify-content-between place-items-center align-items-center">
                            <span class="font-bold">Loan Stage</span>
                            <p> {{ loanData.loan?.loan_stage }} </p>
                        </div>

                        <div class="flex pt-4 justify-content-between place-items-center align-items-center">
                            <span class="font-bold">Loan Application File</span>
                            <a :href="`https://loan-backend.jibiwa.com/storage/${loanData.loan?.loan_application_file}`"
                                target="_blank">
                                <Icon icon="ic:outline-insert-drive-file" class="text-indigo-600" />
                            </a>
                        </div>

                        <!-- <div>
                            <div class="pt-4" v-for="doc in loanData.loan?.loan_kyc_fields" :key="doc.id">
                                <div class="flex w-full justify-content-between">
                                    <div>
                                        <div v-for="document in doc.loan_field" :key="document">
                                            <span class="font-bold">{{ document?.name }}</span>
                                        </div>
                                    </div>
                                    <a :href='`https://loan-backend.jibiwa.com/storage/${doc.value}`' target="_blank">
                                        <Icon icon="ic:outline-insert-drive-file" class="text-indigo-600" />
                                    </a>
                                </div>
                            </div>
                        </div> -->
                        <div>
                            <div class="pt-4" v-for="doc in loanData.loan?.loan_kyc_fields" :key="doc.id">
                                <div class="flex w-full justify-content-between">
                                    <div>
                                        <div v-for="document in doc.loan_field" :key="document">
                                            <span class="font-bold">{{ document?.name }}</span>
                                        </div>
                                    </div>
                                    <div v-for="document in doc.loan_field" :key="document">
                                        <a v-if="document?.type === 'file'"
                                            :href='`https://loan-backend.jibiwa.com/storage/${doc.value}`' target="_blank">
                                            <Icon icon="ic:outline-insert-drive-file" class="text-indigo-600" />
                                        </a>
                                    </div>

                                    <div>
                                        <span>{{ doc.value }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-content-around align-items-center pt-6">
                            <div class="flex align-items-center">
                                <RadioButton v-model="formData.approved" inputId="approved" name="approved"
                                    @change="handleRadioChange('approved')" value="approved" />
                                <label for="approved" class="ml-2">Approved</label>
                            </div>
                            <div class="flex align-items-center px-1">
                                <RadioButton v-model="formData.denied" inputId="denied" name="denied" value="no"
                                    @change="handleRadioChange('denied')" />
                                <label for="denied" class="ml-2">Rejected</label>
                            </div>
                        </div>

                        <div class="flex justify-content-center align-items-center">
                            <div class="p-float-label my-6">
                                <Textarea v-model="formData.comment" autoResize rows="5" cols="30" />
                                <label>Comment</label>
                                <p class="text-red-500 my-2" v-if="v$.comment.$error">{{ v$.comment.$errors[0].$message }}
                                </p>
                            </div>
                        </div>

                        <div class="flex justify-content-center">
                            <Button type="button" label="Comment" icon="pi pi-tick" :loading="submitLoading"
                                @click="handleSubmit()" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
