<template>
  <div class="field">
    <label for="">Location</label>
    <input type="text" id="autocomplete-input" ref="input" @input="handleInput" />
  </div>
</template>

<script>
export default {
  name: "GoogleAutocomplete",
  mounted() {
    // Create the Google Autocomplete instance
    const autocomplete = new google.maps.places.Autocomplete(this.$refs.input, {
      bounds: new google.maps.LatLngBounds(
        new google.maps.LatLng(-4.672366, 33.903877), // southwest corner of Kenya
        new google.maps.LatLng(4.6225, 41.855083) // northeast corner of Kenya
      ),
      componentRestrictions: { country: "ke" } // restrict results to Kenya
    });

    // Listen for place changes and emit the result
    autocomplete.addListener("place_changed", () => {
      const place = autocomplete.getPlace();
      this.$emit("place-changed", place);
    });
  },
  methods: {
    handleInput(event) {
      const newValue = event.target.value;
      // Access the new value or perform other actions
      console.log("Location input changed:", newValue);
    },
  },
};
</script>

<style scoped>
#autocomplete-input {
  padding: 10px;
  z-index: 999999999;
  width: 100%;
  border: 1px solid rgb(215, 214, 214);
  border-radius: 5px;
}
</style>
