<script setup>
import AppAuthTopBar from "../../layout/AppAuthTopBar.vue";
import useVuelidate from "@vuelidate/core";
import { required, helpers, email, minLength } from "@vuelidate/validators";
import { reactive, computed, ref, watchEffect } from "vue";
import IphoneLogo from "../../assets/images/iphone.png";
import { onBeforeRouteUpdate } from 'vue-router';
import axios from "axios";
const formData = reactive({
    email: "",
    password: "",
    isLoading: false,
    error: ""
});
const rules = computed(() => {
    return {
        email: { required: helpers.withMessage("Email address is required", required), email },
        password: { required: helpers.withMessage("Password is required", required), minLength: minLength(2) },
    }
});

const v$ = useVuelidate(rules, formData);
const accessToken = ref("");
watchEffect(() => {
    accessToken.value = JSON.parse(localStorage.getItem("accessToken"));
});
const handleSubmit = async () => {
    const response = await v$.value.$validate();
    if (response) {
        try {
            formData.isLoading = true;
            const response = await axios.post(`${import.meta.env.VITE_API_KEY}/auth/login`, {
                email: formData.email,
                password: formData.password
            });
            formData.isLoading = false;
            response.data.data.user.roles.forEach((role) => {
                localStorage.setItem("role", JSON.stringify(role.name))
            })
            localStorage.setItem("accessToken", JSON.stringify(response.data.data.access_token));
            localStorage.setItem("userData", JSON.stringify(response.data.data.user));
            if (response.data.data.access_token) {
                window.location.href = '/home'
            }
        } catch (err) {
            formData.isLoading = false;
            formData.error = err.response.data.message;
        }
    }
};

const token = JSON.parse(localStorage.getItem("accessToken"))
</script>
<template>
    <AppAuthTopBar />
    <div class=" flex justify-content-between align-items-center">
        <div class="col-12 md:col-6">
            <div v-if="!token" class="flex justify-content-center align-items-center w-full min-h-screen">
                <div class="w-30rem p-fluid">
                    <form @submit.prevent="handleSubmit()"
                        class="w-full shadow-md rounded-md py-6 px-6 border border-gray-200">

                        <div class="flex justify-content-center mt-6 md:mt-0">
                            <h1 class="font-Inter text-2xl font-bold">Welcome Back</h1>
                        </div>
                        <transition-group name="p-message" tag="div">
                            <Message severity="error" v-if="formData.error">{{ formData.error }}</Message>
                        </transition-group>
                        <div :class="[v$.email.$error ? 'pb-0' : 'pb-3']">
                            <div class="field">
                                <label for="email">Email</label>
                                <InputText id="email" type="text" placeholder="@ Enter email" v-model="formData.email" />
                            </div>
                            <p class="text-red-500 my-2" v-if="v$.email.$error">{{ v$.email.$errors[0].$message }}</p>
                        </div>

                        <div :class="[v$.password.$error ? 'pb-0' : '']">
                            <div class="field">
                                <div class="mb-2">
                                    <label for="password">Password</label>
                                </div>
                                <InputText id="password" type="password" placeholder="Enter password"
                                    v-model="formData.password" />
                            </div>
                            <p class="text-red-500 my-2" v-if="v$.password.$error">{{ v$.password.$errors[0].$message }}</p>
                        </div>

                        <div class="pb-2 flex justify-content-between align-items-center">
                            <div class="flex items-center space-x-2">
                                <input type="checkbox" class="accent-indigo-600">
                                <p class="pl-1">Remember me</p>
                            </div>
                            <div class="hidden md:flex md:justify-content-between md:align-items-center md:block">
                                <router-link to="/auth/recovery">
                                    <p
                                        class="cursor-pointer transition duration-200 ease-in font-bold text-indigo-600 hover:underline hover:text-underline text-sm lg:text-base ">
                                        Forgot your password?</p>
                                </router-link>
                            </div>
                        </div>

                        <div class="flex pb-2 justify-content-between align-items-center md:hidden">
                            <router-link to="/auth/recovery">
                                <p
                                    class="cursor-pointer transition duration-200 ease-in font-bold text-indigo-600 hover:underline hover:text-underline text-sm lg:text-base ">
                                    Forgot your password?</p>
                            </router-link>
                        </div>

                        <div class="pb-2">
                            <div class="">
                                <Button type="submit" class="butto mb-4" label="Sign in" :loading="formData.isLoading" />
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="hidden md:block md:absolute md:right-0 md:h-full md:col-6">
            <div class="bg-indigo-500 background border-round-xl relative h-full w-full">
                <div class="flex justify-content-center align-items-center w-full h-full">
                    <div class="image-stack">
                        <div class="image-stack__item image-stack__item--top">
                            <img :src="IphoneLogo" alt="" />
                        </div>
                        <div class="image-stack__item image-stack__item--bottom">
                            <img :src="IphoneLogo" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style>
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.button,
.auth {
    font-family: 'Inter', sans-serif;
}

.image-stack {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
}

.image-stack__item--bottom {
    grid-column: 4 / -1;
    grid-row: 1;
    padding-top: 20%;
    padding-left: 6%;
    z-index: 1;
}

.image-stack__item--top {
    grid-row: 1;
    grid-column: 1 / span 8;
}

img {
    display: block;
}
</style>

