<script  setup>
import { inject, ref } from "vue";
import { Icon } from "@iconify/vue";
import { useToast } from "vue-toastification";
const toast = useToast();
const fetch = inject("fetch");
const searchValue = ref("");
const pendingLoans = ref([]);
const isLoading = ref(false);
const headers = [
    { text: "Loan Type", value: "loan.loan_type.name" },
    { text: 'Reference Number', value: "loan.reference_number" },
    { text: "Loan Status", value: "loan.loan_status" },
    { text: "Operations", value: "operations" }
];
const handleFetchPendingLoans = async () => {
    try {
        isLoading.value = true;
        const response = await fetch.get("/loans/branch-manager-analysis");
        pendingLoans.value = response.data.data;
        isLoading.value = false;
    } catch (err) {
        isLoading.value = false;
        if (err instanceof Error) {
            toast.error(err.message, {
                timeout: 2000
            })
        }
    }
};
handleFetchPendingLoans();
</script>


<template>
    <div class="grid">
        <div class="col-12">
            <div class="card">
                <div class="flex justify-content-between align-items-center mb-4">
                    <h5>All Processing Loans</h5>
                </div>

                <div class="py-2">
                    <div class="field flex justify-content-end">
                        <InputText placeholder="Search" v-model="searchValue" />
                    </div>
                </div>
                <EasyDataTable header-text-direction="center" body-text-direction="center" :rows-per-page="10"
                    buttons-pagination :search-value="searchValue" table-class-name="customize-table" alternating show-index
                    :loading="isLoading" :headers="headers" :items="pendingLoans">
                    <template #item-loan_status="{ loan_status }">
                        <p class="font-bold"
                            :class="[loan_status === 'processing' ? 'text-orange-500' : loan_status === 'approved' ? 'text-green-500' : loan_status === 'rejected' ? 'text-red-500' : '']">
                            {{ loan_status }}</p>
                    </template>
                    <template #item-operations="{ id }">
                        <router-link :to="{ name: 'branch-manager-loans-id', params: { id: id }}">
                            <Icon icon="ic:baseline-remove-red-eye"
                                class="text-indigo-500 hover:text-indigo-600 cursor-pointer 0text-xl" />
                        </router-link>
                    </template>
                    <template #loading>
                        <img src="https://i.pinimg.com/originals/94/fd/2b/94fd2bf50097ade743220761f41693d5.gif"
                            style="width: 100px; height: 80px" />
                    </template>
                </EasyDataTable>
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">
@import '@/assets/demo/styles/badges.scss';

::v-deep(.p-datatable-frozen-tbody) {
    font-weight: bold;
}

::v-deep(.p-datatable-scrollable .p-frozen-column) {
    font-weight: bold;
}
</style>
