<script setup>
import { watchEffect, ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { Icon } from "@iconify/vue";
const route = useRoute();
const router = useRouter();
const token = JSON.parse(localStorage.getItem("accessToken"));
const loading = ref(true)
watchEffect(() => {
  if (token && route.name === 'login') {
    router.push("/home");
    setTimeout(() => {
      loading.value = false;
    }, 2000)
  } else {
    loading.value = false
  }
})
</script>

<template>
  <div v-if="loading" class="grid place-items-center w-full min-h-screen">
    <Icon icon="ph:spinner" class="text-8xl animate-spin text-[#3414BC]" />
  </div>
  <div v-else>
    <router-view />
  </div>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

#app {
  font-family: 'Inter', sans-serif;
}
</style>
