<script setup>
import DashboardCreditAdmin from '../../components/DashboardCreditAdmin/DashboardCreditAdmin.vue';
</script>
<template>
    <div>
        <DashboardCreditAdmin />
    </div>
</template>