<template>
    <div class="grid p-fluid px-3">
        <div class="w-full">
            <div class="card">
                <h5>Estates per county</h5>
                <div v-if="isLoading" class="flex justify-content-center align-items-center mt-8">
                    <p class="font-bold text-xl">Loading...</p>
                </div>
                <div v-else class="py-2">
                    <canvas id="estatePerCountyChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</template>
  
<script setup>
import { ref, onMounted, inject } from 'vue';
import { useLayout } from '@/layout/composables/layout';
import Chart from 'chart.js/auto';

let documentStyle = getComputedStyle(document.documentElement);
let textColor = documentStyle.getPropertyValue('--text-color');
let textColorSecondary = documentStyle.getPropertyValue('--text-color-secondary');
let surfaceBorder = documentStyle.getPropertyValue('--surface-border');
const isLoading = ref(false)
const fetch = inject('fetch');
const barDatas = ref([]);
const barDatasLabels = ref([]);
const handleFetch = async () => {
    try {
        isLoading.value = true;
        const response = await fetch.get(`/reports/estates-per-county`);
        barDatasLabels.value = response.data.labels;
        barDatas.value = response.data.datasets[0].data;
        isLoading.value = false;
    } catch (err) {
        isLoading.value = false;
        console.log(err.message)
    }
};
onMounted(async () => {
    await handleFetch();
    const ctx = document.getElementById('estatePerCountyChart');
    const chartX = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: barDatasLabels.value,
            datasets: [
                {
                    label: 'Estates per county',
                    data: barDatas.value,
                    backgroundColor: [
                        documentStyle.getPropertyValue('--teal-500'),
                        documentStyle.getPropertyValue('--primary-500'),
                        documentStyle.getPropertyValue('--primary-200')
                    ],
                    borderColor: [
                        documentStyle.getPropertyValue('--teal-500'),
                        documentStyle.getPropertyValue('--primary-500'),
                        documentStyle.getPropertyValue('--primary-200')
                    ],
                    borderWidth: 1
                }
            ]
        },
        options: {
            plugins: {
                legend: {
                    labels: {
                        fontColor: textColor
                    }
                }
            },
            scales: {
                x: {
                    ticks: {
                        color: textColorSecondary,
                        font: {
                            weight: 500
                        }
                    },
                    grid: {
                        display: false,
                        drawBorder: false
                    }
                },
                y: {
                    ticks: {
                        color: textColorSecondary
                    },
                    grid: {
                        color: surfaceBorder,
                        drawBorder: false
                    }
                }
            },
            indexAxis: 'y'
        }
    });

    // Update chart when layout theme changes
    const setColorOptions = () => {
        documentStyle = getComputedStyle(document.documentElement);
        textColor = documentStyle.getPropertyValue('--text-color');
        textColorSecondary = documentStyle.getPropertyValue('--text-color-secondary');
        surfaceBorder = documentStyle.getPropertyValue('--surface-border');
    };

    const updateChart = () => {
        setColorOptions();

        chartX.options.plugins.legend.labels.fontColor = textColor;
        chartX.options.scales.x.ticks.color = textColorSecondary;
        chartX.options.scales.y.ticks.color = textColorSecondary;
        chartX.options.scales.y.grid.color = surfaceBorder;
    };
    updateChart()

    // layoutConfig.theme.watch(() => {
    //     updateChart();
    // }, { immediate: true });
});
</script>
  