<script setup>
import { ref, watch, inject, watchEffect } from 'vue';
import { useLayout } from '@/layout/composables/layout';
const fetch = inject("fetch");
const loading = ref(false);
const { layoutConfig } = useLayout();
let documentStyle = getComputedStyle(document.documentElement);
let textColor = documentStyle.getPropertyValue('--text-color');
let textColorSecondary = documentStyle.getPropertyValue('--text-color-secondary');
let surfaceBorder = documentStyle.getPropertyValue('--surface-border');
const pieData = ref(null);
const pieOptions = ref(null);

const setColorOptions = () => {
    documentStyle = getComputedStyle(document.documentElement);
    textColor = documentStyle.getPropertyValue('--text-color');
    textColorSecondary = documentStyle.getPropertyValue('--text-color-secondary');
    surfaceBorder = documentStyle.getPropertyValue('--surface-border');
};
const pieDataData = ref({});
const labels = ref(['m', 'n', 'o']);
const labelsData = ref([1, 2, 3])
const handleFetchData = async () => {
    loading.value = true;
    await fetch.get('/reports/collections-per-house-type').then((response) => {
        loading.value = false;
        pieDataData.value = response.data;
        labels.value = response.data.labels;
        labelsData.value = response.data.datasets[0].data
    }).catch((error) => {
        loading.value = false;
        console.log('error-chart', error)
    });
};
handleFetchData()
const setChart = () => {
    pieData.value = {
        labels: labels.value,
        datasets: [
            {
                data: labelsData.value,
                backgroundColor: [documentStyle.getPropertyValue('--indigo-500'), documentStyle.getPropertyValue('--purple-500'), documentStyle.getPropertyValue('--teal-500')],
                hoverBackgroundColor: [documentStyle.getPropertyValue('--indigo-400'), documentStyle.getPropertyValue('--purple-400'), documentStyle.getPropertyValue('--teal-400')]
            }
        ]
    };

    pieOptions.value = {
        plugins: {
            legend: {
                labels: {
                    usePointStyle: true,
                    color: textColor
                }
            },
        },
    };
};

watchEffect(() => {
    setChart()
});
</script>

<template>
    <div class="card">
        <h5 class="text-left w-full">Collections per house type</h5>
        <div class="chart-container">
            <Chart type="pie" :data="pieData" :options="pieOptions"></Chart>
        </div>
    </div>
</template>