<template>
    <div class="grid p-fluid px-3">
        <div class="w-full mt-6">
            <div class="card">
                <h5>Estates per county</h5>
                <div v-if="isLoading" class="flex justify-content-center align-items-center mt-8">
                    <p class="font-bold text-xl">Loading...</p>
                </div>
                <div v-else class="py-2">
                    <div class="flex justify-content-end">
                        <Dropdown v-model="selectedCounty" editable :options="counties" optionLabel="name"
                            placeholder="Select a county" class="w-full md:w-14rem" />
                    </div>
                    <canvas id="chart"></canvas>
                </div>
            </div>
        </div>
    </div>
</template>
  
<script setup>
import { ref, onMounted, inject, watchEffect } from 'vue';
import { useLayout } from '@/layout/composables/layout';
import Chart from 'chart.js/auto';

let documentStyle = getComputedStyle(document.documentElement);
let textColor = documentStyle.getPropertyValue('--text-color');
let textColorSecondary = documentStyle.getPropertyValue('--text-color-secondary');
let surfaceBorder = documentStyle.getPropertyValue('--surface-border');
const isLoading = ref(false)
const fetch = inject('fetch');
const selectedCounty = ref('')
const barDatas = ref([]);
const barDatasLabels = ref([]);
const counties = ref([]);
const handleFetchAllCounties = async () => {
    const response = await fetch.get("/counties/all");
    response.data.data.forEach((county) => {
        const res =
        {
            name: county.name,
            id: county.code
        };
        counties.value.push(res)
    });
};
handleFetchAllCounties();
const handleFetch = async () => {
    try {
        if (selectedCounty.value) {
            isLoading.value = true;
            const response = await fetch.get(`/reports/estates-per-county/${selectedCounty.value.id}`);
            barDatasLabels.value = response.data.labels;
            barDatas.value = response.data.datasets[0].data;
            isLoading.value = false;
        } else {
            isLoading.value = true;
            const response = await fetch.get(`/reports/estates-per-county/4`);
            barDatasLabels.value = response.data.labels;
            barDatas.value = response.data.datasets[0].data;
            isLoading.value = false;
        }
    } catch (err) {
        isLoading.value = false;
        console.log(err.message)
    }
};

watchEffect(() => {
    if(selectedCounty.value) {
        handleFetch();
    }
})
onMounted(async () => {
    await handleFetch();
    const ctx = document.getElementById('chart');
    const chartX = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: barDatasLabels.value,
            datasets: [
                {
                    label: 'Estates per county',
                    data: barDatas.value,
                    backgroundColor: [
                        documentStyle.getPropertyValue('--teal-500'),
                        documentStyle.getPropertyValue('--primary-500'),
                        documentStyle.getPropertyValue('--primary-200')
                    ],
                    borderColor: [
                        documentStyle.getPropertyValue('--teal-500'),
                        documentStyle.getPropertyValue('--primary-500'),
                        documentStyle.getPropertyValue('--primary-200')
                    ],
                    borderWidth: 1
                }
            ]
        },
        options: {
            plugins: {
                legend: {
                    labels: {
                        fontColor: textColor
                    }
                }
            },
            scales: {
                x: {
                    ticks: {
                        color: textColorSecondary,
                        font: {
                            weight: 500
                        }
                    },
                    grid: {
                        display: false,
                        drawBorder: false
                    }
                },
                y: {
                    ticks: {
                        color: textColorSecondary
                    },
                    grid: {
                        color: surfaceBorder,
                        drawBorder: false
                    }
                }
            },
            indexAxis: 'y'
        }
    });

    // Update chart when layout theme changes
    const setColorOptions = () => {
        documentStyle = getComputedStyle(document.documentElement);
        textColor = documentStyle.getPropertyValue('--text-color');
        textColorSecondary = documentStyle.getPropertyValue('--text-color-secondary');
        surfaceBorder = documentStyle.getPropertyValue('--surface-border');
    };

    const updateChart = () => {
        setColorOptions();

        chartX.options.plugins.legend.labels.fontColor = textColor;
        chartX.options.scales.x.ticks.color = textColorSecondary;
        chartX.options.scales.y.ticks.color = textColorSecondary;
        chartX.options.scales.y.grid.color = surfaceBorder;
    };
    updateChart()

    // layoutConfig.theme.watch(() => {
    //     updateChart();
    // }, { immediate: true });
});
</script>
  