<script setup>
import AllLoans from '../../components/DashboardLoans/AllLoans.vue';
import PendingLoans from '../../components/DashboardLoans/PendingLoans.vue';
import ApprovedLoans from '../../components/DashboardLoans/ApprovedLoans.vue';
import RejectedLoans from '../../components/DashboardLoans/RejectedLoans.vue';
</script>
<template>
    <div>
        <TabView>
            <TabPanel header="All loans">
                <div>
                    <AllLoans />
                </div>
            </TabPanel>
            <TabPanel header="Processing loans">
                <div>
                    <PendingLoans />
                </div>
            </TabPanel>
            <TabPanel header="Approved">
                <ApprovedLoans />
            </TabPanel>
            <TabPanel header="Rejected">
                <RejectedLoans/>
            </TabPanel>
        </TabView>

    </div>
</template>