<script setup>
import { useRoute, useRouter } from "vue-router";
import { Icon } from "@iconify/vue";
import { ref, inject } from "vue";
const baseUrl = "https://loan-backend.jibiwa.com/storage"
const fetch = inject("fetch");
const route = useRoute();
const router = useRouter();
const loanData = ref([]);
const isLoading = ref(false)
const handleFetch = async () => {
    try {
        isLoading.value = true;
        const response = await fetch.get(`/loans/show/${route.params.id}`);
        loanData.value.push(response.data.data);
        console.log(response.data.data)
        isLoading.value = false;
    } catch (err) {
        console.log(err.message)
    }
};
handleFetch();
const handleRoute = () => {
    router.push("/dashboard/officer/loans")
}
</script>
<template>
    <div @click="handleRoute()" class="py-2 flex justify-content-start align-items-center cursor-pointer">
        <i class="pi pi-arrow-left" :class="['' ? 'text-indigo-600' : '']" />
        <p class="px-2 text-indigo-600 hover:font-bold hover:text-indigo-600">Go back</p>
    </div>
    <div class="py-4">
        <div v-if="isLoading" class="pt-8">
            <div class="flex justify-content-center align-items-center">
                <i class="pi pi-spin pi-spinner" style="font-size: 3rem; color: indigo"></i>
            </div>
        </div>
        <div v-else class="mt-2">
            <div class="card w-full">
                <div>

                    <div class="px-4 mx-2">
                        <div class="pt-2">
                            <h4 class="font-bold">Loan Details</h4>
                        </div>

                        <div v-for="data in loanData" :key="data.id">

                            <div class="flex justify-content-between place-items-center align-items-center">
                                <span class="font-bold">Reference Number</span>
                                <p> {{ data.reference_number }} </p>
                            </div>

                            <div class="flex pt-4 justify-content-between place-items-center align-items-center">
                                <span class="font-bold">Loan Type</span>
                                <p> {{ data.loan_type?.name }} </p>
                            </div>

                            <div class="flex pt-4 justify-content-between place-items-center align-items-center">
                                <span class="font-bold">Loan Status</span>
                                <p class="font-bold"
                                    :class="[data.loan_status === 'processing' ? 'text-orange-500' : data.loan_status === 'approved' ? 'text-green-500' : data.loan_status === 'rejected' ? 'text-red-500' : '']">
                                    {{ data.loan_status }}</p>
                            </div>

                            <div class="flex pt-4 justify-content-between place-items-center align-items-center">
                                <span class="font-bold">Loan Stage</span>
                                <p> {{ data.loan_stage }} </p>
                            </div>

                            
                            <div class="flex pt-4 justify-content-between place-items-center align-items-center">
                                <span class="font-bold">Proposed Rate</span>
                                <p> {{ data.proposed_rate }} </p>
                            </div>

                                    
                            <div class="flex pt-4 justify-content-between place-items-center align-items-center">
                                <span class="font-bold">Proposed Duration</span>
                                <p> {{ data.proposed_duration }} months </p>
                            </div>

                            <div class="flex pt-4 justify-content-between place-items-center align-items-center">
                                <span class="font-bold">Notes</span>
                                <p> {{ data.notes }} </p>
                            </div>

                            <div class="flex pt-4 justify-content-between place-items-center align-items-center">
                                <span class="font-bold">Loan Application File</span>
                                <a :href='`https://loan-backend.jibiwa.com/storage/${data.loan_application_file}`'
                                    target="_blank">
                                    <Icon icon="ic:outline-insert-drive-file" class="text-indigo-600" />
                                </a>
                            </div>

                            <div class="flex pt-4 justify-content-between place-items-center align-items-center">
                                <span class="font-bold">Sanction Sheet Draft</span>
                                <a :href='`https://loan-backend.jibiwa.com/storage/${data.sanction_sheet_draft}`'
                                    target="_blank">
                                    <Icon icon="ic:outline-insert-drive-file" class="text-indigo-600" />
                                </a>
                            </div>

                            <div v-if="data.offer_letter !== null" class="flex pt-4 justify-content-between place-items-center align-items-center">
                                <span class="font-bold">Offer Letter</span>
                                <a :href='`https://loan-backend.jibiwa.com/storage/${data.offer_letter}`'
                                    target="_blank">
                                    <Icon icon="ic:outline-insert-drive-file" class="text-indigo-600" />
                                </a>
                            </div>
                            <div>
                                <div class="pt-4" v-for="doc in data.loan_kyc_fields" :key="doc.id">
                                    <div class="flex w-full justify-content-between">
                                        <div>
                                            <div v-for="document in doc.loan_field" :key="document">
                                                <span class="font-bold">{{ document?.name }}</span>
                                            </div>
                                        </div>
                                        <div v-for="document in doc.loan_field" :key="document">
                                            <a v-if="document?.type === 'file'"
                                                :href='`https://loan-backend.jibiwa.com/storage/${doc.value}`'
                                                target="_blank">
                                                <Icon icon="ic:outline-insert-drive-file" class="text-indigo-600" />
                                            </a>
                                        </div>

                                        <div v-if="doc.loan_field?.field?.type !== 'file'">
                                            <span>{{  doc.value  }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>