<script setup>
import { ref } from 'vue';

import AppMenuItem from './AppMenuItem.vue';

const model = ref([
    {
        label: "Home",
        items: [{ label: 'Dashboard', icon: 'pi pi-fw pi-home', to: '/home' }]
    },
    {
        label: "Misc",
        items: [
            { label: "Sections", icon: "pi pi-file-o", to: "/dashboard/sections" },
            { label: "Branches", icon: "pi pi-share-alt", to: "/dashboard/branch" },
            { label: 'Loan Types', icon: 'pi pi-fw pi-copy', to: '/dashboard/loan-type' },
            { label: 'User management', icon: 'pi pi-fw pi-user', to: '/dashboard/user' },
        ]
    },
]);
</script>

<template>
    <ul class="layout-menu">
        <template v-for="(item, i) in model" :key="item">
            <app-menu-item v-if="!item.separator" :item="item" :index="i"></app-menu-item>
            <li v-if="item.separator" class="menu-separator"></li>
        </template>
    </ul>
</template>

<style lang="scss" scoped></style>
