<script setup>
import AppMenu from './AppMenu.vue';
import AppMenuRelationShipOfficer from "../layout/AppMenuRelationShipOfficer.vue"
import AppMenuCreditAnalyst from './AppMenuCreditAnalyst.vue';
import AppMenuApprover from './AppMenuApprover.vue';
import AppMenuBranchManager from './AppMenuBranchManager.vue';
import { computed } from 'vue';
import AppMenuCreditAdmin from './AppMenuCreditAdmin.vue';
const role = JSON.parse(localStorage.getItem('role'));
const userData = JSON.parse(localStorage.getItem("userData"));
const initialName = computed(() => {
    return userData.first_name
});
const Dashboard = computed(() => {
    if (role === 'admin') {
        return AppMenu
    } else if (role === 'relationship_officer') {
        return AppMenuRelationShipOfficer
    } else if (role === 'credit_analyst') {
        return AppMenuCreditAnalyst
    } else if (role === 'approver') {
        return AppMenuApprover
    } else if (role === 'credit_admin') {
        return AppMenuCreditAdmin
    } else if (role === 'branch_manager') {
        return AppMenuBranchManager
    }
})
</script>

<template>
    <div class="flex flex-col overflow-y-hidden h-screen justify-content-between align-items-center">
        <div class="absolute top-0">
            <component :is="Dashboard"></component>
        </div>

        <div class="py-1 card mt-auto">
            <div class="py-2 border-500 w-full flex justify-content-between align-items-center">
                <div>
                    <Avatar :label="initialName[0]" class="mr-2" size="large" shape="circle" />
                </div>

                <div class="block">
                    <div>
                        <span>{{ userData.first_name }}</span>
                    </div>
                    <div>
                        <span>{{ userData.email }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped></style>
