<script setup>
import { ref, computed, onMounted, onBeforeUnmount, inject } from 'vue';
import { useLayout } from '@/layout/composables/layout';
import { useRouter } from 'vue-router';
const fetch = inject("fetch")
const { layoutConfig, onMenuToggle } = useLayout();

const outsideClickListener = ref(null);
const topbarMenuActive = ref(false);
const router = useRouter();

onMounted(() => {
    bindOutsideClickListener();
});

onBeforeUnmount(() => {
    unbindOutsideClickListener();
});
const menu = ref();
const toggle = (event) => {
    menu.value.toggle(event);
};
const topbarMenuClasses = computed(() => {
    return {
        'layout-topbar-menu-mobile-active': topbarMenuActive.value
    };
});

const bindOutsideClickListener = () => {
    if (!outsideClickListener.value) {
        outsideClickListener.value = (event) => {
            if (isOutsideClicked(event)) {
                topbarMenuActive.value = false;
            }
        };
        document.addEventListener('click', outsideClickListener.value);
    }
};
const unbindOutsideClickListener = () => {
    if (outsideClickListener.value) {
        document.removeEventListener('click', outsideClickListener);
        outsideClickListener.value = null;
    }
};
const isOutsideClicked = (event) => {
    if (!topbarMenuActive.value) return;

    const sidebarEl = document.querySelector('.layout-topbar-menu');
    const topbarEl = document.querySelector('.layout-topbar-menu-button');

    return !(sidebarEl.isSameNode(event.target) || sidebarEl.contains(event.target) || topbarEl.isSameNode(event.target) || topbarEl.contains(event.target));
};
const onTopBarMenuButton = () => {
    topbarMenuActive.value = !topbarMenuActive.value;
};
const token = JSON.parse(localStorage.getItem("accessToken"));
const userData = JSON.parse(localStorage.getItem("userData"));
const username = computed(() => {
    return `${userData.first_name}`
})
const error = ref("")
const handleLogOut = async () => {
    try {
        const response = await fetch.post(`${import.meta.env.VITE_API_KEY}/logout`);
        if (response) {
            localStorage.removeItem("accessToken");
            localStorage.removeItem("userData");
            localStorage.removeItem('role')
            router.push("/");
        }
    } catch (err) {
        error.value = err;
    }
}
const items = ref([
    {
        label: 'Navigate',
        items: [
            {
                label: 'Sign out',
                icon: 'pi pi-sign-out',
                command: () => handleLogOut()
            }
        ]
    }
]);

</script>

<template>
    <div class="layout-topbar bg-indigo-500">
        <div class="absolute z-4 right-0 top-100">
            <transition-group name="p-message" tag="div">
                <Message severity="error" v-if="error">{{ error }}</Message>
            </transition-group>
        </div>


        <button class="md:mx-8 p-link layout-menu-button layout-topbar-button"
            :class="['hover:bg-indigo-400 focus:outline-none border-none']" @click="onMenuToggle()">
            <i class="pi pi-bars" :class="['text-white']"></i>
        </button>

        <router-link to="/" class="layout-topbar-logo">
            <span class="text-white text-base md:text-lg" v-if="token">Welcome {{ username }}</span>
        </router-link>

        <button class="p-link layout-topbar-menu-button layout-topbar-button" @click="onTopBarMenuButton()">
            <i class="pi pi-ellipsis-v" :class="['text-white']"></i>
        </button>

        <div class="layout-topbar-menu" :class="topbarMenuClasses">
            <Button type="button" label="Toggle" @click="toggle" aria-haspopup="true" aria-controls="overlay_menu"
                class="p-link layout-topbar-button" :class="['hover:bg-indigo-400']">
                <i class="pi pi-user" :class="['text-white']"></i>
                <span>Profile</span>
            </Button>
            <Menu ref="menu" id="overlay_menu" :model="items" :popup="true" />
        </div>
    </div>
</template>

<style lang="scss" scoped></style>

